* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #2A3140;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    color: #f0ffffde;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #495773;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #1a191956;
}

.card-login h1 {
    font-size: 3vh;
    color: #f0ffffde;
    font-weight: 800;
    margin: 0;
}

.text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #6C748C;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #2d2c2c56;
    outline: none;
    box-sizing: border-box;
}

.text-field label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.text-field input::placeholder {
    color: #f0ffffde;
}

.error-message {
    margin-top: 1rem;    
    color: rgb(234, 68, 68);
    visibility: hidden;
}

.error-message-visible {
    margin-top: 1rem;    
    color: rgb(234, 68, 68);
    visibility: visible;
}

.btn-login {
    width: 100%;
    padding: 16px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #6C748C;
    background-color: #f0ffffde;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #2A3140;
    transition: background 0.5s
}

.btn-login:hover {
    background-color: #9e9e9ede;
}